@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: iranyekan-regular;
    src: url(../font/iranyekanwebregular.ttf);
    src: url(../font/iranyekanwebregular.woff);
}
@font-face {
    font-family: iranyekan-medium;
    src: url(../font/iranyekanwebmedium.ttf);
    src: url(../font/iranyekanwebmedium.woff);
}
@font-face {
    font-family: iranyekan-bold;
    src: url(../font/iranyekanwebbold.ttf);
    src: url(../font/iranyekanwebbold.woff);
}

@layer base {
    *{
        padding: 0;
        scroll-behavior: smooth;
        list-style: none;
        text-decoration: none;
    } 
    html{
       font-family: iranyekan-medium;
    }
}


@layer components  {
    .swiper-slide{
    @apply !flex items-center justify-center text-center text-lg;
    }
}

/* News Page: Banner Slider Pagination*/
.banner_slider .swiper-pagination-bullet {
    @apply w-6 h-1 rounded-sm;
}
/* News Page: Banner Slider Pagination!! */